body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #DDDDDD;
}

.heading {
	  padding: 20px 0px 50px 0px;
    color: #6262ea;
    font-family: 'Kosugi', sans-serif;
    letter-spacing: 5px;
    font-weight: bold;
}

.search-input {
	margin: auto;
  padding-bottom: 30px;
}

.emojis-list {
  cursor: pointer;
  list-style: none;
}

.emojis-item {
    border: 2px solid red;
    padding: 10px;
}
